# Python-specific
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
sdist/
venv/
env/
.venv/
Lib/
Include/
Scripts/
site-packages/

# Byte-compiled / optimized / DLL files (C extensions)
*.pyd
*.so
*.dll

# Test and coverage reports
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Distribution / packaging
*.whl
*.tar.gz
*.egg

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
*.iml
*.ipnb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# GIS and Data Specific (adjust as needed)
*.aux.xml
*.shp.xml
*.dbf.xml
*.cpg
*.prj
*.lock
*.gdb/
*.mdb
*.sqlite
*.qgs.backup*
*.qgz.backup*
*.qlr.backup*
*.rdata
*.geojson
*.kml
*.kmz
*.gpkg-wal
*.parquet
*.gpkg
*.lyr
*.lyrx
*.mxd.backup*
*.aprx.backup*
*.stylex
*.rulepackage
*.sld
*.qml
*.vrt
*.ovr
*.hdr
*.tfw
*.xml
*.csw
*.wms
*.wfs
*.wcs

# Temporary files and logs
*.log
*.tmp
temp/
tmp/
plot/
*.ipynb_checkpoints/
